---
name: Build
on:
  schedule:
    - cron: '0 0 * * 0'
  push:
  pull_request:

jobs:
  build:
    name: Install Bio-Formats
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up
        run: |
          brew update
          brew tap ome/alt file://$(pwd)
      - name: Install Bio-Formats Formula
        run: brew install bioformats
